form {
    display: flexbox;
}

p {
    display: table-row;
}

label, input, textarea {
    display: table-cell;
    width: 400px;
}

input, textarea {
    border-radius: .2rem;
    border: 1px solid slategray
}

label {
    text-align: right;
    
}

button {
    margin-top: 25px;
    width: 500px;
    border-radius: .75rem;
    border-color:rgba(0, 0, 0, 0.15);
}

button:hover {
    background-color: rgba(39, 189, 22, 0.5);
}

.preview {
    padding-top: 10px;
}