body, input, textarea {
    background-color: rgb(250, 250, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input, textarea {
    margin-top: 1.5rem;
    margin-left: .5rem;
}

label {
    text-align: right;
}